<div class="flex flex-col justify-center items-center ">
  <div class="w-full md:w-[40%] ">
      <app-search 
          (searchName)="searchName($event)"/>
  </div>
  <div class="flex flex-col w-full items-center">
        <div class="flex flex-col mt-5 min-h-[460px] md:w-[80%] ">
            <div class="flex justify-between items-center mx-4 text-white font-normal">
                <div></div>
                <h3 >Page {{pageNumber()}} of {{pageTotal()}}</h3>
                <h5 >Total games: {{games().length}} </h5>
            </div>
            <div class="grid grid-cols-2 md:grid-cols-4  gap-6 w-[95%] md:w-full mt-4">
                @for (item of gamesFilterPage(); track $index) {
                    <app-game
                        [game]="item"
                        class="h-full flex flex-col"
                    />
                }
            </div>
        </div>
        <div class="flex justify-center">
            <app-paginator 
                [totalItems]="games().length"
                [pageSize]="pageSize"
                (pageChange)="onPageChange($event)">
            </app-paginator>
        </div>
  </div>
</div>